PORT=3000
SESSION_SECRET=change-this-session-secret
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PASSWORD=change-this-admin-password
# LINKEDIN_CLIENT_ID=
# LINKEDIN_CLIENT_SECRET=
# LINKEDIN_SCOPES=w_member_social
# LINKEDIN_REDIRECT_URI=http://localhost:3000/admin/settings/linkedin/callback
# LINKEDIN_REDIRECT_URI=https://www.gagnaux.ca/admin/settings/linkedin/callback

SITE_URL=https://gagnaux.ca

# Development Environment - Start
NODE_ENV=development
SITE_URL=http://localhost:3000/
# Development Environment - End

# Production Environment - Start
#NODE_ENV=production
#SITE_URL=https://www.gagnaux.ca
# Production Environment - End

